@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "Funnel Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
background-color: #000;
}







/* ESTILOS DE TEXTO */
h1 {
font-family: "Funnel Display", sans-serif;
font-size: 128px;
font-weight: 700;
line-height: 0.8;
}

h2 {
font-family: "Funnel Display", sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 0.8;
}

h3 {
font-family: "Funnel Display", sans-serif;
font-size: 24px;
font-weight: 700;
}

h4 {
font-family: "Funnel Display", sans-serif;
font-size: 18px;
font-weight: 700;
}

h5 {
font-family: "Funnel Display", sans-serif;
font-size: 14px;
font-weight: 700;
}

h6 {
font-family: "Funnel Display", sans-serif;
font-size: 12px;
font-weight: 700;
}

p {
font-family: "Funnel Sans", sans-serif;
font-size: 18px;
font-weight: 300;
}









/* NAV */
nav {
padding: 32px 32px;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0.66);
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
box-sizing: border-box;
backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px);
/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.nav-links {
display: flex;
font-size: 16px;
font-family: "Funnel Sans", sans-serif;
font-weight: 300;
gap: 32px;
}

.nav-links a {
color: #aaa;
text-decoration: none;
}

.nav-links a:hover {
color: #fff;
text-decoration: underline;
}

.logo {
}

@media (max-width: 768px) {
    nav {
    padding: 32px;
    }
    
    .nav-links {
    gap: 16px;
    }
}










#hero {
align-items: center; 
justify-content: center;
width: 100%;
padding: 240px 120px;
background-color: #000;
display: flex;
}

.hero-content {
max-width: 1234px;
display: flex;
flex-direction: column;
gap: 32px;
width: 100%;
margin: 0 auto;
align-items: flex-start;
}

#hero h1 {
color: #fff;
}

#hero p {
color: #aaa;
font-size: 24px;
font-weight: 100;
}

@media (max-width: 768px) {
    #hero { padding: 128px 32px; }

    .hero-content { gap: 24px; }
    
    #hero h1 { font-size: 64px; }
}





#experience {
align-items: center;
justify-content: center;
width: 100%;
display: flex;
flex-direction: column;
padding: 64px 32px;
}

#experience-title {
max-width: 1234px;
width: 100%;
padding: 32px 0px;
}

#experience h2 {
font-family: "Funnel Display", sans-serif;
font-weight: 700;
color: #fff;
line-height: 1;
}

.experience-line {
display: flex;
width: 100%;
max-width: 1234px;
border-bottom: 1px solid #111;
padding: 32px 0px;
}

.experience-period {
width: 150px;
flex-shrink: 0;
color: #555;
text-align: left !important;
font-family: "Funnel Sans", sans-serif;
font-size: 14px;
display: grid;
align-content: center;
}

.experience-enterprise {
flex-grow: 1;
color: #fff;
}

.experience-text {
font-family: "Funnel Sans", sans-serif;
font-size: 16px;
color: #aaa;
}


















#about {
align-items: center;
justify-content: center;
width: 100%;
padding: 0px 32px;
display: flex;
}

.about-container {
display: flex;
flex-direction: row;
gap: 64px;
max-width: 1234px;
width: 100%;
}

.about-esquerda {
flex: 1;
width: 100%;
}

.about-direita {
flex: 1;
display: flex;
flex-direction: column;
gap: 24px;
width: 100%;
}

.about-picture {
width: 100%;
height: auto;
border-radius: 0px;
object-fit: cover;
}

.about-title {
color: #fff;
}

.about-text {
color: #aaa;
}

.social-link {
fill: #fff;
opacity: 0.66;
transition: opacity 250ms ease;
}

.social-link:hover {
opacity: 1;
}

    @media (max-width: 768px) {
        #about {
        padding: 0px 32px;
        }

        .about-container {
        flex-direction: column;
        }

}









/* W O R K */
#work {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px 32px;
    }

#work-title {
    max-width: 1234px;
    width: 100%;
    padding: 32px 0px;
    }

#work h2 {
font-family: "Funnel Display", sans-serif;
font-weight: 700;
color: #fff;
line-height: 1;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  max-width: 1234px;
width: 100%;
padding: 32px 0px;
}

.portfolio-title {
  font-size: 18px
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.portfolio-description {
  font-size: 12px;
  margin: 0;
  color: #999;
}

.portfolio-content {
background-color: #0f0;
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio-item {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background-color: #f0f0f0;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}













#contact {
align-items: center;
justify-content: center;
width: 100%;
display: flex;
flex-direction: column;
padding: 128px 32px;
}

#contact-title {
max-width: 1234px;
width: 100%;
padding: 32px 0px;
}


#contact h2 {
font-family: "Funnel Display", sans-serif;
font-weight: 700;
color: #fff;
line-height: 1;
}

.contact-text {
font-family: "Funnel Sans", sans-serif;
font-size: 16px;
color: #aaa;
}

.contact-links {
max-width: 1234px;
width: 100%;
text-align: left;
}

.contact-links a {
font-family: "Funnel Sans", sans-serif;
font-size: 24px;
color: #fff;
font-weight: 700;
text-decoration: none;
}

.contact-links a:hover {
color: #fff;
font-weight: 700;
text-decoration: underline;
}















/*  F O O T E R */
footer {
    width: 100%; overflow: hidden;
    }

.footer-hero-text {
    font-family: "Funnel Display", sans-serif; font-weight: 800; line-height: 0.7; font-size: 20vw; text-align: center; color: #111;
    width: 106vw; margin-left: -3vw; letter-spacing: -0.02em; white-space: nowrap; user-select: none;
    }







    
