@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }




/* LINKS 
a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
    color: #FFFFFF;
} */




/* ESTILOS DE TEXTO */
  h1 {
    font-family: "Funnel Display", sans-serif;
    font-size: 128px;
    font-weight: 700;
    line-height: 0.8;
  }

  h2 {
    font-family: "Funnel Display", sans-serif;
    font-size: 32px;
    font-weight: 700;
      line-height: 0.8;
  }

  h3 {
    font-family: "Funnel Display", sans-serif;
    font-size: 24px;
    font-weight: 700;
      line-height: 0.8;
  }

  h4 {
    font-family: "Funnel Display", sans-serif;
    font-size: 18px;
    font-weight: 700;
      line-height: 0.8;
  }

  h5 {
    font-family: "Funnel Display", sans-serif;
    font-size: 14px;
    font-weight: 700;
      line-height: 0.8;
  }

  h6 {
    font-family: "Funnel Display", sans-serif;
    font-size: 12px;
    font-weight: 700;
      line-height: 0.8;
  }

  p {
    font-family: "Funnel Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

















/* NAV */
nav {
    background-color: #000000;
  padding: 50px 100px;
     width: 100%;
    color: #FFFFFF;
        display: flex;
      justify-content: space-between; /* Empurra o logo pra esquerda e os links pra direita */
      align-items: center; /* Alinha os elementos verticalmente ao centro */
}

    .nav-links {
  display: flex;
        font-size: 18px;
        font-family: "Funnel Sans", sans-serif;
  gap: 48px; /* Espaço de 48px entre os links */
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.logo {
}

@media (max-width: 768px) {
nav {
    padding: 32px;
}

.nav-links {
    gap: 24px;
}
    
}






/* HERO */
#hero {
align-items: center; 
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 132px);
    padding: 100px 100px;
    background-color: #000;
    color: #FFF;
}

.hero-content {
      max-width: 1234px;
    display: flex;
  flex-direction: column;
    gap: 64px;
}

#hero h1 {
  color: #FFF;
}

#hero p {
  color: #CCC;
    font-size: 32px;
}














